#stats {
  display: none;
}

#tip-of-the-week {
  text-align: center;
  margin-top: 150px;
  color: whitesmoke;
}

.youtube-reel {
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

body {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://images.unsplash.com/photo-1448743133657-f67644da3008?fm=jpg&q=60&w=3000&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8dGVubmlzJTIwY291cnR8ZW58MHx8MHx8fDA%3D);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    min-height: 100vh;
    margin: 0; 
    padding: 0;
    width: 100%;
}   

h1 {
  position: fixed;
  top: 0;
  margin-top: 0px;
  width: 100%;
  background: rgba(217, 213, 213, 0.962);
  padding: 10px;
  text-align: center;
  z-index: 0;
}

h2 {
  font-size: xx-large;
}


nav {
  background-color: #000000;
  position: fixed;
  top: 0;
  width: 100%; 
  z-index: 1;
  
}

nav ul { /* this only affects the ul itmes that are within a nav element*/
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  list-style: none; /* removes the bullet points from the nav items*/
  width: 100%;

}

nav ul li a {
  color: white;
  text-decoration: none;
  padding: 25px 20px;
  display: block;
}

nav ul li a:hover {
  background-color: #676767a5;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 100%;
  z-index: 999;
  background-color: #000000e6;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-transform: uppercase;
}

.sidebar li {
  width: 100%;
}

.sidebar a {
  width: 100%;
}

.menu_button {
  display: none;
}

@media (max-width: 900px) {
  .hideOnMobile {
    display: none;
  }
  .menu_button {
    display: block;
    margin-left: auto;
  }
}

@media (min-width: 900px) {
  .hideOnDesktop {
    display: none;
  }
}

@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

.hideOnDesktop {
  color: white;
  font-size: x-large;
  margin: auto 50px;


}

#coach-section {
  background-color: #7c3232de;
  border-radius: 8px;
  margin-top: 20px;
  padding: 60px;
}

#coach1 {
  margin-top: 30px; 
  text-align: center;
  color: whitesmoke;
}

.profile {
  max-width: 400px;      
  margin: 30px auto;    
  text-align: left;    
}

.profile img {
  width: 100%;           
  height: auto;
  border-radius: 13px;
  display: block;
  margin: 0 auto; 
}

.profile figcaption {
  margin-top: 30px;
  font-size: 1rem;
  color: whitesmoke;
} 

.schedule {
  text-align: center;
}

.schedule a {
  background-color: #d0de2dfe;
  display: inline-block;
  padding: 10px 15px;
  border-radius: 12px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.727);
  box-shadow: 3px 1.5px rgb(50, 49, 49);
}

#lesson_photo, #semi-private_photo, #group-lesson_photo, #social-image, #tournament-image {
  margin: auto;
  height: 190px;
  width: 300px;
  border-radius: 10px;
  padding-left: 15px;

} 

.section1 {
  background-color: #579d56a7;
  margin-top: 50px;
  padding-top: 70px;
  padding-bottom: 50px;
  color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section2 {
  background-color: rgba(245, 245, 245, 0.798);
  padding-top: 30px;
  padding-bottom: 50px;
  color: rgb(0, 0, 0);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.section3 {
  background-color: #7c3232de;
  padding-top: 30px;
  padding-bottom: 50px;
  color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.calendly-inline-widget {
  z-index: -1;
}

.Socials {
  background-color: #579d56a7;
  display: flex;
  flex-wrap: wrap;
  padding-top: 90px;
  padding-bottom: 50px;
  color: antiquewhite;
  margin-top: 100px;
  justify-content: center;
}

.Tournaments {
  background-color: #7c3232de;
  padding-top: 30px;
  padding-bottom: 50px;
  color: antiquewhite;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.article {
  padding-left: 40px;
  padding-right: 40px;
  text-align: left;
  margin-left: 20px;
  margin-right: 20px
}

.booking a {
  background-color: rgb(212, 205, 83);
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  text-align: center;
  margin-top: 25px;
  text-decoration: none;
}

.contact-form {
  background: rgba(255, 255, 255, 0.961);
  padding: 30px 45px;
  border-radius: 10px;
  position: relative;
  top: 300px;
  max-width: 300px;
  margin: auto;
  box-shadow: 0 4px 24px rgba(0,0,0,0.12);
  text-align: left;    
  z-index: -1; 
}

#cell {
  text-decoration: none;

}  
footer {
  text-align: center;
  color: rgb(226, 219, 219);
}


